@model EnquiryRequest3.Models.EnquiryIndexData

@{
    ViewBag.Title = "Enquiries";
}

<h2>Enquiries</h2>
@section scripts {
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (TempData["ErrorMessage"] != null)
{
    <div class="text-danger">
        @TempData["ErrorMessage"]
    </div>
}
@if (ViewBag.ErrorMessage != null)
{
    <div class="text-danger">
        @ViewBag.ErrorMessage
    </div>
}
@using (Html.BeginForm("Index", "Enquiries", new { searchString = ViewBag.filter, stageFilter = ViewBag.stageFilter }, FormMethod.Get, new { id = "myForm" }))
{
    <div>
        <p class="col-md-12" style="text-align:left">
            Find by name or code:
            @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
            <span style="float:right;">
                <select class="form-control" id="stageFilter" name="stageFilter">
                    <optgroup label="Active">
                        <option value="All active" @(ViewBag.stageFilter == "All active" ? "selected" : "")>
                            All active
                        </option>
                        <option value="Unquoted" @(ViewBag.stageFilter == "Unquoted" ? "selected" : "")>
                            Unquoted
                        </option>
                        <option value="Quoted" @(ViewBag.stageFilter == "Quoted" ? "selected" : "")>
                            Quoted
                        </option>
                        <option value="Quote accepted" @(ViewBag.stageFilter == "Quote accepted" ? "selected" : "")>
                            Quote accepted
                        </option>
                    </optgroup>
                    <optgroup label="Report Complete">
                        <option value="All complete" @(ViewBag.stageFilter == "All complete" ? "selected" : "")>
                            All complete
                        </option>
                        <option value="Report complete" @(ViewBag.stageFilter == "Report complete" ? "selected" : "")>
                            Report complete
                        </option>
                        <option value="Invoiced" @(ViewBag.stageFilter == "Invoiced" ? "selected" : "")>
                            Invoiced
                        </option>
                        <option value="Paid" @(ViewBag.stageFilter == "Paid" ? "selected" : "")>
                            Paid
                        </option>
                    </optgroup>
                    <option value="All" @(ViewBag.stageFilter == "All" ? "selected" : "")>
                        All
                    </option>
                </select>
            </span>

        </p>
    </div>
}
<div class="col-md-12">

</div>
<div class="col-md-12">


    <table class="table">
        <tr>
            <th>
                Actions
            </th>
            <th>
                User
            </th>
            <th>
                Enquiry Code
            </th>
            <th>
                Name of Site
            </th>

            @*<th>
                Search area
                </th>*@
            <th>
                Years to search
            </th>
            <th>
                Estimated Cost
            </th>

            <th>
                Job reference number
            </th>

            <th>
                Citations wanted
            </th>
            <th>
                Gis / Kml wanted
            </th>
            <th>
                Express delivery wanted
            </th>
            <th>
                Enquiry Date
            </th>
            <th>
                Comment
            </th>
            @if (ViewContext.HttpContext.User.IsInRole("EnquiryManager") || ViewContext.HttpContext.User.IsInRole("Admin"))
            {
                <th>
                    Added To Rers Date
                </th>
                <th>
                    Data Cleaned Date
                </th>
                <th>
                    Report Complete Date
                </th>
                <th>
                    Documents Cleaned Date
                </th>
                <th>
                    Enquiry Delivered Date
                </th>
                <th>
                    Admin Comment
                </th>
            }

            <th>Actions</th>
        </tr>

        @foreach (var item in Model.Enquiries)
        {
            var wktName = "wkt" + item.EnquiryId;
            string selectedRow = "";
            if (item.EnquiryId == ViewBag.EnquiryId)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Select", "Index", new
                    {
                        id = item.EnquiryId,
                        searchString = ViewBag.filter,
                        stageFilter = ViewBag.stageFilter
                    })<br />
                    @Html.ActionLink("Edit", "Edit", new { id = item.EnquiryId })<br />
                    @Html.ActionLink("Details", "Details", new { id = item.EnquiryId })<br />
                    @Html.ActionLink("Delete", "Delete", new { id = item.EnquiryId })<br />
                    @Html.ActionLink("Create Quote", "Create", "Quotes", new { EnquiryId = item.EnquiryId }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.DisplayName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                @*<td>
                        <div id=@wktName>
                            @Html.HiddenFor(modelItem => item.SearchArea.WellKnownValue.WellKnownText)
                        </div>
                        <div id="map" style="width: 150px; height: 150px;"></div>
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.NoOfYears)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstimatedCost)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.JobNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Citations)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GisKml)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Express)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnquiryDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                @if (ViewContext.HttpContext.User.IsInRole("EnquiryManager") || ViewContext.HttpContext.User.IsInRole("Admin"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.AddedToRersDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataCleanedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReportCompleteDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DocumentsCleanedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EnquiryDeliveredDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AdminComment)
                    </td>
                }
                <td>
                    @Html.ActionLink("Select", "Index", new
                    {
                        id = item.EnquiryId,
                        searchString = ViewBag.filter,
                        stageFilter = ViewBag.stageFilter
                    })<br />
                    @Html.ActionLink("Edit", "Edit", new { id = item.EnquiryId })<br />
                    @Html.ActionLink("Details", "Details", new { id = item.EnquiryId })<br />
                    @Html.ActionLink("Delete", "Delete", new { id = item.EnquiryId })<br />
                    @Html.ActionLink("Create Quote", "Create", "Quote", new { id = item.EnquiryId })
                </td>
            </tr>

        }

    </table>
    @if (Model.Quotes != null)
    {
        <h3>Quotes for selected Enquiry</h3>
        <table class="table">
            <tr>
                <th>Actions</th>
                <th>Quote id</th>
                <th>Quoted Date</th>
                <th>Amount</th>
                <th>Accepted Date</th>
                <th>Actions</th>
            </tr>

            @foreach (var item in Model.Quotes)
            {
                string selectedRow = "";
                if (item.QuoteId == ViewBag.QuoteId)
                {
                    selectedRow = "success";
                }
                <tr class="@selectedRow">
                    <td>
                        @Html.ActionLink("Details", "Details", "Quotes", new { Id = item.QuoteId }, null)
                        @if (item.AcceptedDate == null)
                        {
                            <br />
                            @Html.ActionLink("Delete", "Delete", "Quotes", new { Id = item.QuoteId }, null)
                        }
                        @if (item.Enquiry.Quotes.Where(q => q.AcceptedDate != null).Count() < 1)
                        {
                            <br />
                            @Html.ActionLink("Accept Quote", "AcceptQuote", "Quotes", new { Id = item.QuoteId }, null)
                        }

                    </td>
                    <td>
                        @item.QuoteId
                    </td>
                    <td>
                        @item.QuotedDate
                    </td>
                    <td>
                        @item.Amount
                    </td>
                    <td>
                        @item.AcceptedDate
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", "Quotes", new { Id = item.QuoteId }, null)
                        @if (item.AcceptedDate == null)
                        {
                            <br />
                            @Html.ActionLink("Delete", "Delete", "Quotes", new { Id = item.QuoteId }, null)
                        }
                        @if (item.Enquiry.Quotes.Where(q => q.AcceptedDate != null).Count() < 1)
                        {
                            <br />
                            @Html.ActionLink("Accept Quote", "AcceptQuote", "Quotes", new { Id = item.QuoteId }, null)
                        }
                    </td>
                </tr>
            }

        </table>
    }
</div>