@model IEnumerable<EnquiryRequest3.Models.Enquiry>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Invoice.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SearchType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfYears)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Agency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgencyContact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataUsedFor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Citations)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GisKml)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Express)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnquiryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddedToRersDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCleanedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReportCompleteDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentsCleanedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnquiryDeliveredDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdminComment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Invoice.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SearchType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfYears)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Agency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgencyContact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataUsedFor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Citations)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GisKml)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Express)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnquiryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddedToRersDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataCleanedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReportCompleteDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentsCleanedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnquiryDeliveredDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdminComment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EnquiryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EnquiryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EnquiryId })
        </td>
    </tr>
}

</table>
