@model EnquiryRequest3.Models.InvoiceReminder

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InvoiceReminder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InvoiceReminderType.ReminderSubject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceReminderType.ReminderSubject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceReminderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceReminderDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InvoiceReminderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
