@model IEnumerable<EnquiryRequest3.Models.InvoiceReminder>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceReminderType.ReminderSubject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceReminderDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceReminderType.ReminderSubject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceReminderDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InvoiceReminderId }) |
            @Html.ActionLink("Details", "Details", new { id=item.InvoiceReminderId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InvoiceReminderId })
        </td>
    </tr>
}

</table>
