@model IEnumerable<EnquiryRequest3.Models.Invoice>

@{
    ViewBag.Title = "Invoices";
}

<h2>Invoices</h2>

<p>
    @if (ViewContext.HttpContext.User.IsInRole("EnquiryManager") || ViewContext.HttpContext.User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
    </p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PONumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaidDate)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.PaymentMethodId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChequeNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InSlipNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RemittanceReference)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PONumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaidDate)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.PaymentMethodId)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.PaymentMethod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChequeNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InSlipNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RemittanceReference)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InvoiceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.InvoiceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InvoiceId })
        </td>
    </tr>
}

</table>
