@model IEnumerable<EnquiryRequest3.Models.Quote>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QuoteId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Enquiry.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuotedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AcceptedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <th>
            @Html.DisplayFor(model => item.QuoteId)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.Enquiry.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuotedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AcceptedDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.QuoteId }) |
            @Html.ActionLink("Details", "Details", new { id = item.QuoteId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.QuoteId })
        </td>
    </tr>
}

</table>
