@model EnquiryRequest3.Models.InvoiceReminderType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InvoiceReminderType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReminderSubject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReminderSubject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReminderBody)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReminderBody)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InvoiceReminderTypeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
