@model IEnumerable<EnquiryRequest3.Models.InvoiceReminderType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <h3 style="color:red">@Html.Raw(ViewBag.Message)</h3>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReminderSubject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReminderBody)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReminderSubject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReminderBody)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.InvoiceReminderTypeId }) |
                @Html.ActionLink("Details", "Details", new { id = item.InvoiceReminderTypeId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.InvoiceReminderTypeId })
            </td>
        </tr>
    }

</table>
